@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;


$break-small: 480px;
$break-mid: 760px;
$break-large: 1024px;

@mixin responsive($media) {
	@if $media == 'small' {
		@media only screen and (max-width: $break-small - 1) {@content;}
	} @else if $media == mid {
		@media only screen and (min-width: $break-small ) and (max-width: $break-mid - 1) {@content}
	}  @else if $media == xmid {
		@media only screen and (min-width: $break-mid ) and (max-width: $break-large - 1) {@content}
	} @else if $media == large {
		@media only screen and (min-width: $break-large) {@content}
	}
}

	
	.div {
		width: 900px;
		text-align: center;
		border-radius: 5px;
		margin: auto;
		margin-top: 15px;
		background: white;
		overflow: auto;
		@include responsive(small) { 
			width: 320px;
		}
		@include responsive(mid) {
			width: 480px;
		}@include responsive(xmid) { 
			width: 760px;
		}
		
	}

	.quoteDiv {
		width: 50%;
		background: #a3774e;
		margin: auto;
		margin-top: 20px;
		padding: 10px;
		font-family: $open-sans;
		font-size: 20px;
		font-style: italic;
		border-radius: 15px;
		@include responsive(small) { 
			width: 85%;
		}
		@include responsive(mid) {
			width: 75%;
		}@include responsive(xmid) { 
			width: 60%;
		}
	}

	.photoDiv{
		margin-top: 20px;
	}
	.photo {
		border: 3px solid white;
		border-radius: 50%;
		width: 300px;
		height: 300px;
		@include responsive(small) { 
			width: 200px; height: 200px;
		}
		@include responsive(mid) {
			width: 240px; height: 240px;
		}@include responsive(xmid) { 
			width: 280px; height: 280px;
		}
	}

	.descriptionDiv {
		padding: 10px;
		text-align: left;
		margin: auto;
		margin-bottom: 20px;
		margin-top: 10px;
		width: 90%;
		font-size: 0.9em;
		font-family: $roboto-slab;
		border-style: double hidden double hidden;
	}
