@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;

$break-small: 480px;
$break-mid: 760px;
$break-large: 1024px;

@mixin responsive($media) {
	@if $media == 'small' {
		@media only screen and (max-width: $break-small - 1) {@content;}
	} @else if $media == mid {
		@media only screen and (min-width: $break-small ) and (max-width: $break-mid - 1) {@content}
	}  @else if $media == xmid {
		@media only screen and (min-width: $break-mid ) and (max-width: $break-large - 1) {@content}
	} @else if $media == large {
		@media only screen and (min-width: $break-large) {@content}
	}
}
	.div{
		min-width: 250px;
		width: 45%;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		background: #ccb272;
		height: 410px;
		overflow: visible;
		border-radius: 10px;
		@include responsive(small) { 
			width: 98%;
		}
		@include responsive(mid) {
			width: 80%;
		}
		@include responsive(xmid) { 
			width: 45%;
		}
	}

	.title{
		background: #cbd0d6;
		text-align: center;
		font-family: $roboto-slab;
		border-radius: 10px;
		font-weight: bold;
		padding: 10px;
		margin: 20px;
		margin-top: 20px;
	}

	.img{
		width: 290px;
		height:250px;
		margin: auto;
		margin-bottom: 20px;
		text-align: center;
	}

	.show{
		width: 80%;
		margin: auto;
		font-size: 1.2em;
		font-weight: bold;
		font-family: $roboto-slab;
		text-align: center;
	}
	.dropdown {
		width: 90%;
		background: #cbd0d6;
		display: flex;
		margin: auto;
		border-radius: 10px;
	}

	.downTriangle {
		  width: 0;
		  height: 0;
		  border-left: 10px solid transparent;
		  border-right: 10px solid transparent;
		  border-top: 20px solid white;
		  margin: 10px;
	}
	.upTriangle {
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 20px solid white;
		margin: 10px;
	}

	.dropComp {
		display: block;
		width: 90%;
		margin: auto;
		background: #ccb272;
		font-family: $roboto-slab;
		overflow: hidden;
		border-radius: 10px;
		position: relative;
		z-index: 100;
		transform: scale(0);
		transform-origin: top center;
	}

	.dropCompDown {
		@extend .dropComp;
		animation-duration: 0.5s;
		animation-name: dropdown;
		animation-fill-mode: forwards;
	}

	.dropCompUp {
		@extend .dropCompDown;
		animation-name: goUp;
	}

	@keyframes goUp {
		from {
			transform: scaleY(1);
		}
		to {
			transform: scaleY(0);
		}
	}

	@keyframes dropdown {
		from {
			transform: scaleY(0);
		}
		to {
			transform: scaleY(1);
		}
	}
	.tag {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;	
		border-radius: 5px;
		background: #cbd0d6;
		border: 1px solid black;
	}
	.tagItem {
		margin: 10px;
		font-family: $roboto-slab;
		font-weight: bold;
		font-size: 1.2em;
		background: #cbd0d6;
		border-radius: 10px;
		padding: 5px;
		box-shadow: 5px 5px 5px black;
	}
	.descrip {
		border: 1px solid black;
		font-family: $roboto-slab;
		background: #cbd0d6;
		padding: 10px;
		border-radius: 5px;
		font-size: 10px;
	}
	.website {
		border: 1px solid black;
		font-family: $roboto-slab;
		padding: 10px;
		background: #cbd0d6;
		border-radius: 5px;
		font-size: 10px;
	}
