@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;

$break-small: 480px;
$break-mid: 760px;
$break-large: 1024px;

@mixin responsive($media) {
	@if $media == 'small' {
		@media only screen and (max-width: $break-small - 1) {@content;}
	} @else if $media == mid {
		@media only screen and (min-width: $break-small ) and (max-width: $break-mid - 1) {@content}
	}  @else if $media == xmid {
		@media only screen and (min-width: $break-mid ) and (max-width: $break-large - 1) {@content}
	} @else if $media == large {
		@media only screen and (min-width: $break-large) {@content}
	}
}

.div {
	display: block;
	width: 900px;
	min-height: 500px;
	border-radius: 15px;
	margin: auto;
	margin-top: 15px;
	background: white;
	@include responsive(small) { 
		width: 320px;
	}
	@include responsive(mid) {
		width: 480px;
	}
	@include responsive(xmid) { 
		width: 760px;
	}
}
